.background {
    -fx-background-image: url("backgroundImages/background.jpg");
	-fx-background-position: left bottom;
}

.background-paper {
    -fx-background-color: white;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
}
.label-versTwo {
	-fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-header {
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-underline: true;
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-tabChoice {
  
}
.label-detailsPane {
  -fx-font-weight: bold;
}
.split-pane > * > .split-pane-divider {	
	-fx-cursor: default;
}
.button:hover {
    -fx-background-color: darkgrey;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: grey;
  -fx-text-fill: #1d1d1d;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.table-view {
  -fx-base: #1d1d1d;
  -fx-control-inner-background: #1d1d1d;
  -fx-background-color: #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 12;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
   	-fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.yScale{
	-fx-background-color:transparent;
}




/** CSS **/
.mylistview{
	-fx-border-color:derive(gray,80%);
}


/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal ,
.mylistview  .scroll-bar:vertical{
    -fx-background-color:transparent;
	
}


/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
	
	
}


/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.mylistview .scroll-bar:horizontal:hover .track ,
.mylistview .scroll-bar:horizontal:pressed .track ,
.mylistview .scroll-bar:vertical:hover .track,
.mylistview .scroll-bar:vertical:pressed .track{
	-fx-background-color:derive(#f2f2f2,0%);
     /*-fx-background-color: derive(#434343,70%);*/
	 -fx-opacity: 1;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
    
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}
.mylistview .increment-button:hover ,.mylistview .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray,80%);	
	-fx-padding:10px;
}

.dark-blue {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
/*  ChoiceBox */

.dark-blue-Choicebox {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}

.flowPane .choice-box .label {
  	-fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}
.flowPane.choice-box .choice-box-menu-item{
	-fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
  	-fx-text-fill: salmon;
 	-fx-font-size: 20;
}

.check-box *.box {
  -fx-background-color:
		#090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}