.background {
    -fx-background-image: url("backgroundImages/background.jpg");
	-fx-background-position: left bottom;
}

.background-paper {
    -fx-background-color: white;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
}

.label-header {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-underline: true;
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-tabChoice {
  
}
.label-detailsPane {
  -fx-font-weight: bold;
}
.split-pane > * > .split-pane-divider {	
	-fx-cursor: default;
}
.button:hover {
    -fx-background-color: darkgrey;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: grey;
  -fx-text-fill: #1d1d1d;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
